Name- Anudit Nagar

EnrollmentNo- E18CSE024

**Placement prediction for vocational training (short term training)**

Problem statement:
In this hackthon we will solve the placement prediction problem. Placement prediction has been done in two stage, first at the time of admission, second when training completed and result is availble.

**Prediction at admission time:** In probem 1. column 17(Result) and 18(certificate) will not used as input feature.  

**Prediction with result:** In probem 2. both Result and certificate will be included during prediction. 

**About Data**

 The feature of the data set are as follows:
1. Gender
2. agegroup	
3. EducationLevel	
4. TypeofDisability	
5. castecategory	
6. Religion	
7. Candidate State	
8. Candidate District	
9. PartnerName	
10. TC State	
11. TC District	
12. TC Constituency	
13. TC Name	
14. SectorName	
15. JobRole	
16. TotalCandidatesinBatch	
17. Result	
18. Certified	
	
Target column **placed**

"placed": {"Yes": 1, "No": 2}

All the columns in dataset converted into numbers with label encoding. 

You will get four csv file named as 
For probelm 1

1. trainadmission.csv
2. testadmission.csv

For problem2

3. trainresult.csv
4. testresult.csv

Submission or result and code:

you are suppose to submit two csv file:

1. "enrollmentno"_testadmission.csv
2. "enrollmentno"_testresult.csv

3. "enrollmentno"_hack1.ipynb  (python Notebook/ python file)

both the submission includes placed column in test file at the end. 

Best wishes

# Problem 1 - Train Admission

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

train_df = pd.read_csv('trainadmission.csv')  
train_df.head()

   Unnamed: 0  Gender  TypeofDisability  ...  agegroup  EducationLevel  placed
0      124392       1                 1  ...         2               2       2
1       99020       1                 1  ...         4               3       1
2        1109       2                 1  ...         3               3       1
3      131599       2                 1  ...         2               4       1
4      113142       1                 1  ...         3               3       1

[5 rows x 18 columns]

In [2]:
train_x = train_df[['Gender', 'TypeofDisability', 'castecategory', 'Religion', 'Candidate State', 'Candidate District', 'PartnerName', 'TC State','TC District','TC Constituency','TC Name','SectorName',	'JobRole','TotalCandidatesinBatch','agegroup','EducationLevel']]
train_y = train_df[['placed']]

train_x = train_x[:int(0.8*len(train_x))]
train_y = train_y[:int(0.8*len(train_y))]

test_x = train_x[int(0.8*len(train_x)):]
test_y = train_y[int(0.8*len(train_y)):]
print(train_x.shape, train_y.shape)
print(test_x.shape, test_y.shape)

(102000, 16) (102000, 1)
(20400, 16) (20400, 1)

In [3]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.multioutput import MultiOutputClassifier

regr = MultiOutputClassifier(
    GradientBoostingClassifier(
        learning_rate=0.1,
        n_estimators=500,
        max_depth=16,
        verbose=1
      )
    )
regr.fit(train_x, train_y)
pred_y = regr.predict(test_x)
print(pred_y.shape)

      Iter       Train Loss   Remaining Time
         1           1.3112           11.78m
         2           1.2525           12.33m
         3           1.2034           12.38m
         4           1.1593           12.44m
         5           1.1201           12.62m
         6           1.0834           12.83m
         7           1.0524           12.90m
         8           1.0211           13.03m
         9           0.9940           13.12m
        10           0.9670           13.23m
        20           0.7859           13.50m
        30           0.6689           13.42m
        40           0.5772           13.10m
        50           0.5145           12.67m
        60           0.4692           12.18m
        70           0.4358           11.69m
        80           0.4054           11.27m
        90           0.3701           10.97m
       100           0.3409           10.69m
       200           0.1899            7.86m
       300           0.1408            5.26m
       400           0.1264            2.62m
       500           0.1223            0.00s
(20400, 1)

In [7]:
cnt = 0
for ind, val in enumerate(test_y['placed']):
  if(test_y['placed'].values[ind] == pred_y[ind]):
    cnt+=1

print(f"Train acc : {(cnt/len(test_y)*100)} %")

Train acc : 96.09313725490196 %

In [8]:
# Create submission using 'testadmission.csv'
submission_df = pd.read_csv('testadmission.csv') 
submission_df_x = submission_df[['Gender', 'TypeofDisability', 'castecategory', 'Religion', 'Candidate State', 'Candidate District', 'PartnerName', 'TC State','TC District','TC Constituency','TC Name','SectorName',	'JobRole','TotalCandidatesinBatch','agegroup','EducationLevel']]

submission_pred_y = regr.predict(submission_df_x)
submission = [2 if x >= thres else 1 for x in submission_pred_y] # Quantization

submission_df['placed'] = submission
print(submission_df.head())
submission_df.to_csv('testadmission-submission.csv', index=False)

   Unnamed: 0  Gender  TypeofDisability  ...  agegroup  EducationLevel  placed
0       19934       2                 1  ...         3               3       1
1       58270       2                 1  ...         4               3       1
2      143862       2                 1  ...         7               2       2
3       72890       1                 1  ...         3               2       1
4       83926       1                 1  ...         3               3       2

[5 rows x 18 columns]

# Problem 2 - Train Result

In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

train_df = pd.read_csv('trainresult.csv')  
train_df.head()

   Unnamed: 0  Gender  TypeofDisability  ...  agegroup  EducationLevel  placed
0       86994       1                 1  ...         6               3       1
1      118637       2                 1  ...         2               3       1
2      130745       2                 1  ...         6               3       2
3      125434       2                 1  ...         2               2       2
4       28956       2                 1  ...         3               5       1

[5 rows x 20 columns]

In [10]:
train_x = train_df[['Gender', 'TypeofDisability', 'castecategory', 'Religion', 'Candidate State', 'Candidate District', 'PartnerName', 'TC State','TC District','TC Constituency','TC Name','SectorName',	'JobRole','TotalCandidatesinBatch','Result','Certified','agegroup','EducationLevel']]
train_y = train_df[['placed']]

train_x = train_x[:int(0.8*len(train_x))]
train_y = train_y[:int(0.8*len(train_y))]

test_x = train_x[int(0.8*len(train_x)):]
test_y = train_y[int(0.8*len(train_y)):]
print(train_x.shape, train_y.shape)
print(test_x.shape, test_y.shape)

(102000, 18) (102000, 1)
(20400, 18) (20400, 1)

In [12]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.multioutput import MultiOutputClassifier

regr = MultiOutputClassifier(
    GradientBoostingClassifier(
        learning_rate=0.1,
        n_estimators=500,
        max_depth=18,
        verbose=1
      )
    )
regr.fit(train_x, train_y)
pred_y = regr.predict(test_x)
print(pred_y.shape)

      Iter       Train Loss   Remaining Time
         1           1.2733           14.18m
         2           1.1863           14.58m
         3           1.1122           14.92m
         4           1.0484           15.24m
         5           0.9944           15.44m
         6           0.9469           15.57m
         7           0.9031           15.75m
         8           0.8619           15.91m
         9           0.8247           16.09m
        10           0.7937           16.19m
        20           0.5727           16.69m
        30           0.4598           16.46m
        40           0.3829           16.19m
        50           0.3322           15.65m
        60           0.2936           15.10m
        70           0.2581           14.64m
        80           0.2315           14.17m
        90           0.2035           13.84m
       100           0.1819           13.51m
       200           0.0998            9.99m
       300           0.0867            6.53m
       400           0.0851            3.04m
       500           0.0849            0.00s
(20400, 1)

In [13]:
cnt = 0
for ind, val in enumerate(test_y['placed']):
  if(test_y['placed'].values[ind] == pred_y[ind]):
    cnt+=1

print(f"Train acc : {(cnt/len(test_y)*100)} %")

Train acc : 97.42647058823529 %

In [14]:
# Create submission using 'testresult.csv'
submission_df = pd.read_csv('testresult.csv') 
submission_df_x = submission_df[['Gender', 'TypeofDisability', 'castecategory', 'Religion', 'Candidate State', 'Candidate District', 'PartnerName', 'TC State','TC District','TC Constituency','TC Name','SectorName',	'JobRole','TotalCandidatesinBatch','Result','Certified','agegroup','EducationLevel']]

submission_pred_y = regr.predict(submission_df_x)
submission = [2 if x >= thres else 1 for x in submission_pred_y] # Quantization

submission_df['placed'] = submission
print(submission_df.head())
submission_df.to_csv('testresult-submission.csv', index=False)

   Unnamed: 0  Gender  TypeofDisability  ...  agegroup  EducationLevel  placed
0      129459       2                 1  ...         4               5       2
1      134017       2                 1  ...         2               3       2
2       86522       2                 1  ...         2               2       2
3      138465       2                 1  ...         2               2       1
4      143904       1                 1  ...         3               2       1

[5 rows x 20 columns]